<p-table [columns]='cols' [value]='pValues' styleClass="p-datatable-lg p-datatable-striped"
[paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
scrollHeight="93%"
>
    <ng-template pTemplate='header' let-headers>
        <tr>
            <th *ngFor='let column of headers'>
                {{column.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate='body' let-value let-columns="columns">
        <tr>
            <td *ngFor="let cols of columns">
                {{value[cols.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" (click)="onAdd()" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>