<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h4>Soufiance Fadil</h4>
            <h4>soufiance@gmail.com</h4>
        </div>
        <img src="../../../assets/profile-image.jpg" alt="profile">
    </div>

    <mat-divider></mat-divider>
    <h4 matSubheader>Pages</h4>

    <ng-container *ngFor="let nav of sidebar">
        <a mat-list-item routerLinkActive="list-item-active" [routerLink]="nav.routerLink">{{nav.name}}</a>
    </ng-container>
    
    <!-- <mat-divider></mat-divider> -->

</mat-nav-list>
